*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 3.2em;
}
